@import '../../common';
@import './rotate';

@mixin std-icon {

    *{
        @include rotate;
    }

    font-size:2.5rem;
    border: 2px solid $main-theme-color;
    border-radius: 50%;
    padding: 0.3rem
}