@import "../../common/";

@mixin oneview-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightskyblue;

    .mid-content-container {
        background-color: lightcoral;
        height: 100%;
        width: clamp(360px, 85%, 1400px);
        margin: $margin-mid-container-mobile;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .content-container {
            background-color: lightgreen;
            margin: $margin-content-mobile;
            padding: $padding-content-container;
            width: 100%;
            border-radius:$std-radius;
            
        }

    }
}