@import '../../../common';
@import './rotate';

@mixin std-icon {

    *{
        @include rotate;
    }

    font-size:2rem;
    border: 3px solid $main-theme-color;
    border-radius: 50%;
    padding: 0.3rem
}