@import '../../components/responsives';
@import '../../components/buttons/std-button';
@import '../../components/effects/std-icon';



.full-content-container {
    @include ilimitedview-container;
    background-color: $background-color;

    .mid-content-container {
        .about-content-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;
        }
    }
}

.about-item {
    background-color: $background-color-secondary;
    width: clamp(1px, 80%, 320px);
    border-radius: $std-radius;
    padding: $padding-content-container;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.4s ease-in-out;

    .about-item-title{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $main-theme-color;
        padding-bottom: 2%;
        margin-bottom: 5%;

        &>*{
            margin-left: 5%;
            margin-right: 5%;
        }
    }

    .about-item-text {
        margin-bottom: clamp(40px, 25%, 50px);
    }

    button {
        margin-top: clamp(20px, 5vh, 50px);
        align-self: flex-start;
        margin-top: auto;
        @include std-button
    }

    a{
        *{
            @include std-icon
        }
    }
}


@media screen and (max-width: 1024px) {
    .full-content-container {
        .mid-content-container {
            .about-content-container{
                gap: 3rem 0;

            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .full-content-container {
        .mid-content-container {
            .about-content-container{
                gap: 3rem;
                flex-direction: row;
                gap: auto;
                .about-item{
                    box-sizing: border-box;
                    max-width: none;
                    width: 28%;
                    height: 30rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .full-content-container {
        .mid-content-container {
            .about-content-container{

                .about-item{
                    height: 430px;
                    .about-item-title{
                        flex-direction: row;
                    }
                }
            }
        }
    }
}