@import '../../common';
@import '../../components/responsives';
@import '../../components/buttons/std-button';

.full-content-container {
    @include ilimitedview-container;
    background-color: $background-color;

    .mid-content-container{

        .content-container{
            // button{
            //     @include std-button
            // }
            max-width: 100%;
            // background-color: $background-color-secondary;
        }
    }
}

.card-full {
    // height: 100px;
    background-color: $background-color-secondary;
    border-radius: $std-radius;
    padding: $padding-content-container;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 85%;
    min-width: 85%;
    height: 20rem;

    @media screen and (min-width: 768px) {
        width: 42.5%;
        min-width: 42.5%;
    }

    @media screen and (min-width: 1024px) {
        width: 28.3%;
        min-width: 28.3%;
    }

    nav{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    margin-bottom:20px;
}

.inner-carousel{
    display: flex;
    gap: 0 3rem;
}

.full-carousel{
cursor: grab;
overflow: hidden;
}