@import '../../common';
@import '../../components/responsives';
@import '../../components/buttons/std-button';
@import '../../components/effects';

.full-content-container {
    @include ilimitedview-container;
    background-color: $background-color;

    .mid-content-container{

        .content-container{

        }
    }
}

.card-full {
    // height: 100px;
    background-color: $background-color-secondary;
    border-radius: $std-radius;
    padding: $padding-content-container;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    text-align: center;
    width: 85%;
    min-width: 85%;
    height: 25rem;

    @media screen and (min-width: 768px) {
        width: 42.5%;
        min-width: 42.5%;
    }

    @media screen and (min-width: 1024px) {
        width: 28.3%;
        min-width: 28.3%;
    }

    nav{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    margin-bottom:20px;

    .card-title{
        @include underline-text;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0.5rem 0;
    }

    .card-full-img{
        height: 40%;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: top;
        gap: 1rem;
        margin: 1.3rem 0;
        
        div{
            height: 80%;
            min-height: 80%;
            width: fit-content;
            border-radius: 100%;
            overflow: hidden;

            img {
                height: 100%;
                width: auto;
                // border-radius: 100%;
            }
        }

        figcaption{
            @include dynamic-border;
            gap: 0.5rem;
            width: 100%;
            height:1rem;

            ::after{
                background-color: $text-color-secondary;
            }
        }

    }

    .card-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        margin-bottom: 3rem;
        

        >*{
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            color: $text-color-secondary;
            
            

            svg {
                font-size: 2rem;
                
            }

            &:hover {
                color: $main-theme-color;
                svg {
                    >*{
                            color: $main-theme-color;
                    }
                    
                }
            }

        }
    }

    .card-desc{
        margin-bottom: auto;
    }
}

.inner-carousel{
    display: flex;
    gap: 0 3rem;
}

.full-carousel{
cursor: grab;
overflow: hidden;
width: 100%;
height: auto;
}

