@import "../../layout/header.module.scss";
@import "../../common";
@import "../../components";

.teste{
    @include std-button;
}

.full-content-container {
    @include oneview-container;
}

.header-full-content-container {
    background-image: url('../../../img/backgrounddarkpc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content-container {
    background-color: rgba($background-color-secondary, $alpha: 0.6);
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    gap: 1.5vh;
    max-width: 400px;
}