@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Titillium+Web&display=swap');
$font-stack:'Roboto', sans-serif;
$text-shadow: 1px 1.25px 5px rgba(0, 0, 0, 0.3);
$text-color:#fff;

*{
    font-family: $font-stack;
}