@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Titillium+Web&display=swap');
$font-stack:'Roboto', sans-serif;
$text-shadow: 1px 1.25px 5px rgba(0, 0, 0, 0.3);
$text-color:#fff;
$text-color-secondary: #a4a4a9;

*{
    font-family: $font-stack;
    color: #fff;
    font-size: clamp(16px, 1.5vw, 24px)
}

h1 {
    font-size: 1.75rem
}

h2 {
    font-size: 1.5rem
}

h3 {
    font-size: 1.25rem
}

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
$font-logo:'Kdam Thmor Pro', 'Roboto', cursive, sans-serif;
